name: Run Scripts For Data Gathering and Generation

on:
  push:
    branches:
      - main

  workflow_dispatch:
    inputs:
      commit_message:
        description: 'Message from a triggered repo'
        required: true
        default: 'No input provided'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Checkout profile-data-gen repository
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git clone https://github.com/renerod1/profile-data-gen.git profile-data-gen

      - name: Move files from profile-data-gen to current repository
        run: |
          rm -rf ./src
          mv -f profile-data-gen/src ./
          mv -f profile-data-gen/codegen.ts ./
          mv -f profile-data-gen/package-lock.json ./
          mv -f profile-data-gen/package.json ./
          mv -f profile-data-gen/pnpm-lock.yaml ./
          mv -f profile-data-gen/tsconfig.json ./

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Install GraphQL
        run: pnpm codegen

      - name: Add GITHUB_TOKEN to .env file
        run: |
          echo "GITHUB_TOKEN=${{ secrets.TOKEN }}" >> ./src/environments/.env

      # - name: Turn on debug mode
      #   run: |
      #     echo "DEBUG_MODE=true" >> ./src/environments/.env

      - name: Run Script
        run: pnpm start

      - name: Move README.md file
        run: |
          cp ./Profile/README.md ./README.md
        
      - name: Remove profile-data-gen
        run: |
          rm -rf profile-data-gen

      - name: Commit files
        run: |
          git add ./DataVisuals/.
          git add ./Profile/.
          git add ./README.md
          git diff-index --quiet HEAD || git commit -m "Updated data" --allow-empty

      - name: Push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.TOKEN }}
          branch: ${{ github.ref }}
